/*Reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Header*/

.header{
    position: fixed;
    width: 100%;
    height: 12rem;
    background-color: darkslateblue;
    z-index: 100;

}

.headerLogo{
    margin-left: 1rem;
    padding-top: 0.5rem;
    width: 10rem;
}


.headerList{
    text-align: end;
    margin-right: 1rem;
}

.headerItem{
    display: inline-block;
    margin: 3rem 0.5rem;
    padding-top: 2rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1rem;
    transition: font-size 0.5s;
}

.headerItem:hover{
    font-size: 1.1rem;
}

.headerLink{
    text-decoration: none;
    color: whitesmoke;
}

/*Main Index*/

.mainIndex{
    width: 100%;
    padding: 15rem 0rem 0rem 0rem;
    background-image: url("../img/Hero_home_web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5rem;
}

.mainText{
    padding: 0 10rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: justify;
}

.multimediaContainer{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
}

.multimedia{
    padding-left: 3rem;
    width: 560px;
    height: 325px;
}


/*Galeria*/

.mainGal{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 8rem;
    background-color: #bcbdd8;
}

#grilla{
    margin: 0 2rem;
    padding-top: 12rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
} 
    
.galItem{
    width: 100%;
    align-items: center;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* animation scale-up-center */

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

/*Nosotros*/

.nosotrosContainer{
    width: 100%;
    padding: 15rem 0rem 5rem 0rem;
    background-image: url("../img/Hero_home_web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotrosTitle{
    padding: 2rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

.nosotrosText{
    padding: 0 10rem;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: justify;
}


/*Información*/

.mainInfo{
    padding-bottom: 5rem;
    width: 100%;
    background-color: #bcbdd8;
}

/*Box-Valores*/

.tableContainer{
    padding-top: 16rem;
    padding-bottom: 4rem;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.tableValores{
    padding: 2rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: whitesmoke;
}

.tableName{
    padding-bottom: 1rem;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.tableTitle{
    padding: 0.5rem;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.tableText{
    padding: 0.5rem;
    font-family: EBGaramond;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

/*Box-Horario*/

.boxContainer{
    padding: 2rem;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.boxHorario{
    padding: 2rem;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.boxName{
    padding-bottom: 1rem;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.boxTitle{
    padding: 0.7rem;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.boxText{
    padding: 0.5rem;
    font-family: EBGaramond;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}


/*Contacto*/

.mainForm{
    width: 100%;
    padding: 18rem 10rem 10rem 5rem;
    background-image: url("../img/Hero_home_web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formTitle{
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.2rem;
    color: whitesmoke;
}

.button{
    width: 5rem;
    height: 2rem;
    border-style: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.2rem;
    color: black;
}

/*Footer*/

.footer{
    width: 100%;
    height: 10rem;
    background-color:whitesmoke;
    box-sizing: border-box;
    background-size: cover;
}

.socialItem{
    display: inline-block;
}

.footerDiv{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.footerTitle{
    padding-top: 2.5rem;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}


 /*Media Queries*/

 @media screen and (max-width: 768px) {

    .navbar{
        background-color: darkslateblue;
        width: 100%;
    }

    .headerLogo{
        margin-left: 0.5rem;
        padding-top: 0.5rem;
        width: 8rem;
    }

    .headerItem{
        display: inline-flex;
        margin: 0.5rem 0.5rem;
    }

    .headerList{
        background-color: darkslateblue;
        width: 100%;
    }

    .multimediaContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: center;
     }

/*Información*/

.mainInfo{
    padding-bottom: 3rem;
    width: 100%;
    background-color: #bcbdd8;
}

/*Nosotros*/
.nosotrosContainer{
    padding: 17rem 0rem 5rem 0rem;
}

/*Box-Valores*/


.tableValores{
    padding: 1rem;
}

.tableName{
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.tableTitle{
    padding: 0.5rem;
    font-size: 0.7rem;
}

.tableText{
    padding: 0.5rem;
    font-size: 0.7rem;
}

/*Box-Horario*/

.boxContainer{
    padding: 1rem;
}

.boxHorario{
    padding: 1rem;
}

.boxName{
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.boxTitle{
    padding: 0.5rem;
    font-size: 0.7rem;
}

.boxText{
    padding: 0.5rem;
    font-size: 0.5rem;
}
 }


 @media screen and (max-width: 590px) {


    .mainText{
        padding: 0 5rem;
        font-size: 1.2rem;
}

.mainContainer{
    padding-top: 8rem;
}

/*Nosotros*/

.nosotrosContainer{
    padding: 18rem 0rem 5rem 0rem;
}

.nosotrosTitle{
    padding: 1.5rem;
    font-size: 1.2rem;

}

.nosotrosText{
    padding: 0 5rem;
    font-size: 1rem;
}

    #grilla{
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 2rem;
    } 

/*informacion*/
    .tableContainer{
        padding-top: 20rem;
}

 }

 @media screen and (max-width: 425px) {


    .headerItem{
        margin: 0.5rem 0.5rem;
        font-size: 1rem; 
        padding-top: 0.1rem;
 }
 
    #grilla{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8 1fr);
        column-gap: 0.7rem;
        row-gap: 0.7rem;
    } 

}


 

