/*Footer*/

@mixin sizes ($height, $width) {
    height: $height;
    width: $width;  
}

.footer{
    @include sizes(10rem, 100%);
    background-color:$blanco;
    box-sizing: border-box;
    background-size: cover;
    .footerTitle{
        padding-top: 2.5rem;
        font-family: Yanone Kaffeesatz;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
    }
    .footerDiv{
        display: inline-flex;
        width: 100%;
        justify-content: center;
        .socialItem{
            display: inline-block;
        }
    }
}


