/*Header*/

.header{
    position: fixed;
    width: 100%;
    height: 12rem;
    background-color: $negro;
    z-index: 100;
    .headerLogo{
        margin-left: 1rem;
        padding-top: 0.5rem;
        width: 10rem;
    }

}

.headerList{
    text-align: end;
    margin-right: 1rem;
    .headerItem{
        display: inline-block;
        margin: 3rem 0.5rem;
        padding-top: 2rem;
        font-family: Bebas Neue;
        font-size: 1em;
        transition: font-size 0.5s;
    }
    .headerItem:hover{
        font-size: 1.1rem;
    }
    .headerLink{
        text-decoration: none;
        color:$blanco;
    }
}


